<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
       <title>Hairdu - Become Hairdu Stylist </title>
        
        <% if @is_mobile %>
            <% if @bodyId == 'home' %>
                <meta name="viewport" content="width=1600" />
            <% else %>
                <meta name="viewport" content="width=1120" />
            <% end %>
        <% end %>
        <%= stylesheet_link_tag "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
</head>
<%=render "shared/nav"%>
<body id="<%= @bodyId %>">

<%= yield %>

<%=render "shared/footer"%>
</body>
</html>
